/*main.css*/

.text-white{
  color:white;
}

.navbar{
  background-color: #00a65a;
}

.container{
  margin-top: 50px;
}

.card{
  background-color: #73a24e;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #555;
  width: 200px;
  height: 400px;
}

.card-body{
  padding: 20px;
  text-align: center;
}

.card-img-top{
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card:hover {
  box-shadow: 0 0 10px #999;
  transform: translateY(-5px);
}

.card h3 {
   font-size: 16px;
}

h1{
  font-size: 50px;
}

/* new style 2 */
/*
.card {
    background-color: #00a65a;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 450px;
    width: 300px;
    margin: auto;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 30px;
}

.card-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.card-text {
    font-size: 16px;
} */

/* end */

.navbar {
  background-color: #8e44ad;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-brand {
  color: #fff;
  font-size: 2.25rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-link:hover {
  color: #eee;
}


/* .container {
  height: 100vh;
  display: flex;
  align-items: center;
} */

/* .card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
} */

input[type="text"] {
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #4e73df;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #3f51b5;
}

img[title]:hover:after {
    content: attr(title);
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    padding: 5px;
}

.card-details {
    display: none;
}

.card-body:hover .card-details {
    display: block;
}
